
<div class="container">
  <div class="row">
    <div class="large-8 columns">
      <strong>Title:</strong>
      <%= @article.title %>
    </div>

    <div class="large-8 columns">
      <br>
     <p>
       <strong>Text:</strong>
       <div class="value"> <%=word_wrap(@article.text) %></div>
     </p>
    </div>

    <div class="large-8 columns">   
       <p>
         <strong>Attachment:</strong>
         <div class="value">  <%= image_tag @article.attachment.url(:thumb)  %> </div>
       </p>
    </div>

  <div class="large-8 columns">
     <strong>Tags:</strong>
      <% @article.tags.any? %>
      <% @article.tags.each do |tag| %>
      <%= link_to tag.name, articles_url(:tag => tag.name) %> 
      <% end %>
  </div>

  <div class="large-12 columns">
        <br><br>
      <div class="value"> <p>
        <%= link_to "I have Read this artcile" , 'https://www.facebook.com/dialog/feed?
        app_id=473701529432821
        &display=popup&caption=An%20example%20caption 
        &link=http://genii.in
        &redirect_uri=http://localhost:3000' ,:class => 'small button' %></p></div>
  </div>
</div>
<hr/>

<div class="container2">
  <div class="row">
     <div class="large-4 rows">
       <h3>Comments</h3>
     </div>
     <div class="large-8 rows">
       <% @article.comments.each do |comment| %>
       <br>
         <p>
         <strong>Commenter:</strong>
         <%= comment.commenter %>
         </p>
         <p>
           <strong>Comment:</strong>
           <%= comment.body %>
        </p>
     <% end %>
  </div>
</div>

<div class="container3">
<div class="rows">
  <div class="large-4 rows">
    <h3>Add a comment:</h3>
    <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
    </p>
 </div>
 <div class="large-4 rows">
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit :class=> 'small button' %>
    </p>
    <% end %>
 </div>
 <div class="large-4 rows">
    <%= link_to 'Edit Article', edit_article_path(@article), :class=>'small button' %> 
    <%= link_to 'Back to Articles', articles_path, :class=> 'small button' %>
</div>
</div>
</div>