
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<body>

<nav class="top-bar">
	<ul class="title-area">
		<li class="title">
			<%= link_to "My Blog", articles_path %>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<% if user_signed_in? %>
				<li class="logged_in_msg">Signed in as <%= current_user.email %> Not you?</li>
				<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Sign Up",new_user_registration_path %></li> 
				<li><%= link_to "Sign In", new_user_session_path %></li>
				<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
			<%  end %>
		</ul>
	</section>
</nav>

<% flash.each do |name,msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>

<%= yield %>

</body>
<script type="text/javascript">$(function(){ $(document).foundation(); });</script>
</html>
